<div class="well">
  <div class="row">
    <div class="col-md-6">
      <div [formGroup]="form">
        <h4>Enter a zipcode:</h4>
        <input
          type="text"
          formControlName="zipCode"
          placeholder="Zipcode"
          class="form-control"
        />
        <br />
        <h4>Enter a nation:</h4>
        <app-autocomplete
          placeholder="Nation"
          formControlName="nation"
          [options]="nations$ | async"
        ></app-autocomplete>
        <app-button [clickFn]="addLocation.bind(this)">
          <button default class="btn btn-primary" [disabled]="!form.valid">
            Add location
          </button>
          <button submitting class="btn btn-primary" disabled>Adding...</button>
          <button done class="btn btn-success">Done</button>
        </app-button>
      </div>
    </div>
  </div>
</div>
